[Unit]
Description=Sync files with GDrive

[Service]
Type=oneshot
ExecStart=rclone bisync "$HOME"/GDrive gdrive:/

[Install]
WantedBy=multi-user.target
