[Desktop Entry]
Comment=close enough
Name=GNOME
X-KDE-PluginInfo-Author=ForgottenUmbrella
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=regretfulumbrella@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=gnome-theme
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=youareanidiot.com
X-KDE-ServiceTypes=Plasma/LookAndFeel
