[Unit]
Description=Delete pomo.sock before shutdown.

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=-rm %h/.pomo/pomo.sock

[Install]
WantedBy=multi-user.target
