*.swp
*~
**/nvim/.netrwhist
**/nvim/undo/
**/ranger/bookmarks
**/ranger/history
**/nvim/tags*
**/nvim/spell/
**/nvim/sessions/
**/i3blocks-contrib/
tags
**/gnome/.themes/
kde/
**/ranger/plugins/
**/zsh/.histfile
**/emacs/flycheck_init.el
