[Unit]
Description=A fast and easy-to-use tool status bar
Documentation=man:polybar(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=sh %h/.config/polybar/launch.sh

[Install]
WantedBy=i3-session.target
