[Unit]
Description=Automatically lock, suspend and eventually hibernate after inactivity
Documentation=man:xautolock(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=xautolock -time 30 -locker 'lock && systemctl suspend-then-hibernate'

[Install]
WantedBy=i3-session.target
