[Unit]
Description=Utility for modifying keymaps and pointer button mappings in X
Documentation=man:xmodmap(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=xmodmap %h/.Xmodmap

[Install]
WantedBy=i3-session.target
