[Unit]
Description=Periodically set wallpaper
Wants=network-online.target graphical-session.target
After=network-online.target graphical-session.target

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
